<div class="container">
  <div >
    <h1>To-do list</h1>
    <div class="tasks">
      <div><input class="new-task" type="text" ng-model="main.newTask" placeholder="Add new tasks" ng-keyup="main.addTask($event.keyCode);"></div>	
      <div  class="task" ng-repeat="task in main.tasks|filter:main.filter:strict track by $index">
        <input type="checkbox" ng-model="task.status"  ng-true-value="'Done'" ng-false-value="'Active'" ng-change="main.updateStatus()"><span class="task-name" ng-class="{done:task.status==='Done'}">{{task.name}}</span>
      </div>
      <div class="filters"><a class="link" href="" ng-click="main.filterTasks()">All</a>|<a class="link" href="" ng-click="main.filterTasks('Done')">Completed</a><a class="link" href="" ng-click="main.filterTasks('Active')">Pending</a></div>
    </div>
  </div>
</div>
